:host {
    all: initial;
    font-family: 'Inter', system-ui !important;
    color: black;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    color: inherit;
    background: transparent;
    text-decoration: none;
}

img {
    -webkit-user-drag: none;
}

.slide-in-up {
    animation: slide-in-up 0.2s ease-out;
}

@keyframes slide-in-up {
    from {
        transform: translateY(8%);
        opacity: 0.2;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-right {
    animation: slide-in-right 0.3s ease-out;
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
